<div id="content">      
            <form action="__ROOT__/home/rmsg/editrmsg/rmsgid/{$rmsg[0].id}/" method="post" class="mform">
                <fieldset>
                    <legend>修改回帖</legend>
                    <div style="text-align: center;">   
                    
                        <table align="center">                          
                            <tbody><tr>
                                <td>主题：</td>
                                <td>
                                    <input style="width: 400px;" disabled="disabled" value="回复：{$msg.title}" type="text">
                                </td>
                            </tr>
                            <tr>
                                <td valign="top">正文：</td>
                                <td>
                                    <textarea name="content" style="width: 400px; height: 400px;">{$rmsg[0].body}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center">
                                    <input name="submit" value="更新帖子" type="submit">
                                </td>
                            </tr>
                        </tbody></table>
                    </div>
                </fieldset>
            </form>
        </div>