<div class="loginbox clearfix twocolumns">
  <div class="loginpanel">
      <h2>
          请详细填写您的注册信息！
      </h2>
      <div class="subcontent loginsub">
          <form action="" id="login" method="post">
              <div class="loginform">
                  <div class="form-label">
                      <label for="username">用户名</label>
                  </div>
                  <div class="form-input">
                      <input id="username" name="username" size="15" type="text" value="" />
                      <br/>
                      <span class="errorTip" id="userTip"></span>
                  </div>
                  <div class="clearer"></div>
                  <div class="form-label">
                      <label for="password">密码</label>
                  </div>
                  <div class="form-input">
                      <input id="password" name="password" size="15" type="password" value="" />
                      <br>
                      <span class="errorTip" id="pswdTip"></span>
                  </div>
                  <div class="clearer"></div>
                  <div class="form-label">
                      <label for="password">确认密码</label>
                  </div>
                  <div class="form-input">
                      <input id="password2" name="password2" size="15" type="password" value="" />
                      <br>
                      <span class="errorTip" id="pswd2Tip"></span>
                  </div>
                  <div class="clearer">
                  </div>
                  <div class="form-label">
                      <label for="password">选择头像</label>
                  </div>
                    <div style="margin-left: 235px">
                    <img height="30px" src="__PUBLIC__/images/0.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/0.gif">
                    <img height="30px" src="__PUBLIC__/images/1.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/1.gif">
                    <img height="30px" src="__PUBLIC__/images/2.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/2.gif">
                    <img height="30px" src="__PUBLIC__/images/3.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/3.gif">
                    <img height="30px" src="__PUBLIC__/images/4.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/4.gif">
                    <img height="30px" src="__PUBLIC__/images/5.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/5.gif">
                    <img height="30px" src="__PUBLIC__/images/6.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/6.gif">
                    <img height="30px" src="__PUBLIC__/images/7.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/7.gif">
                    <img height="30px" src="__PUBLIC__/images/8.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/8.gif">
                    <img height="30px" src="__PUBLIC__/images/9.gif" width="30px">
                    <input id="image" name="image" type="radio" value="__PUBLIC__/images/9.gif">
                  </div>
                  <div class="clearer">
                  </div>
                  <div class="form-label">
                      <label for="captcha">验证码</label>
                  </div>
                  <div class="form-input">
                      <input id="captcha" name="captcha" size="15" type="text" value="" />
                      <img id="captchaImg" src="/home/user/captcha/atype/register/" style="cursor: pointer; width: 100px; height: 40px;">
                      <br>
                      <span class="errorTip" id="captchaTip"></span>
                      </input>
                  </div>
                  <div class="clearer">
                  </div>
                  <div class="form-input">
                      <input id="submit" name="register" type="submit" value="注册" />
                  </div>
                  <div class="clearer"></div>
              </div>
          </form>
      </div>
  </div>
  <div class="subcontent">
    <h2>注册帮助</h2>
    <div class="subcontent">
      <p>
        <b>1 用户名</b><br>
        用户名必须是字母、数字或下划线，且必须以字母开头（至少六位）<br>
        <b>2 密码和确认密码</b><br>
        密码和确认密码必须相同，至少八位 <br>
        <b>3 验证码</b><br>
        验证码不区分大小写 <br>
      </p>
    </div>
  </div>
</div>